{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

<section class="bg-[#c4c4c433] featured-collection relative flex items-center flex-col">
  <div class="absolute -top-3 px-11 w-full max-w-740">
  <div>
    <img width="54" height="48" src="{{ 'figures-mob.png' | asset_img_url }}" />
  </div>
   </div>

  <div class="flex justify-center text-center items-center flex-col mb-7">
    {% if section.settings.title != blank %}
        <h2 class="font-montserrat mt-8 px-8 md:text-4xl text-[22px] featured-collection__title">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="mt-2 border-b-[5px] border-red-600 w-[227px]"></div>
  </div>
    
  <div class="justify-center items-center flex flex-col md:flex-row md:justify-around">
  
  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products limit: 6 %}
  
    <a href="{{ product.url | within: collection }}" class="featured-collection-item">
      <div class="flex flex-row w-full px-6 min-w-380">
      {% if product.featured_image != blank %}
        <div class="hidden md:block featured-collection__image">
          {% include 'responsive-image' with
            image: product.featured_image,
            max_width: 480,
            max_height: 480
          %}
        </div>
        <div class="md:hidden featured-collection__image">
          {% include 'responsive-image' with
            image: product.featured_image,
            max_width: 143,
            max_height: 114
          %}
        </div>
      {% endif %}
      <div class="w-full flex flex-col">
      <p>{{ product.title | escape }}</p>
      <p>{{ product.description }}</p>
      <div class="flex flex-row justify-between">
        <span class="uppercase font-futura text-[9px] font-normal">Regular Price</span>
        <span class="uppercase font-futura text-[9px] font-normal">Easter Price</span>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex items-start">
          {{product.compare_at_price | money }}
        </div>
        <div class="flex items-end">
          {{  }}{{product.price | money }}
        </div>
      </div>
      <span>
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            {%- assign sale_price = product.price | money -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ 'products.product.on_sale' | t }}
            {{ product.price | money }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% endif %}
      </span>
    </div>
    </div>
    </a>
  {% else %}
    {% for i in (1..6) %}
      <a href="#" class="featured-collection-item">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

        <p>{{ 'homepage.onboarding.product_title' | t }}</p>
        <p>{{ 1999 | money }}</p>
      </a>
    {% endfor %}
  {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "DON'T WAIT FOR THE EASTER BUNNY TO BRING YOURS! <br/><span class='md:text-[40px] font-black font-montserrat md:font-futura md:font-bold'>ORDER NOOCUBE TODAY!</span>"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
