<section class="bg-red-500 clip grid items-center grid-cols-1 mx-auto md:grid-cols-2 md:max-w-3xl lg:max-w-4xl xl:max-w-6xld">
    
  <div class="relative visible md:hidden ">
    {% if section.settings.title != blank %}
      <h2 class="uppercase text-center md:text-[40px] sm:text-[35px] md:leading-10 leading-9">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <div>{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}
  </div>
      <div class="grid">
        <div class="flex items-center justify-center relative">
            <div class="relative md:hidden">
                {% if section.settings.image != blank %}
                {% include 'responsive-image-mobile' with
                    image: section.settings.image,
                    image_class: "img",
                    max_width: 703,
                    max_height: 713
                %}
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
            <div class="relative hidden md:block">
              {% if section.settings.image != blank %}
              {% include 'responsive-image' with
                  image: section.settings.image,
                  image_class: "img",
                  max_width: 703,
                  max_height: 713
              %}
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
          </div>
          <div class="absolute top-0 right-0 md:hidden">
            {% if section.settings.image2 != blank %}
            {% include 'responsive-image-mobile' with
                image: section.settings.image2,
                image_class: "img",
                max_width: 200,
                max_height: 200
            %}
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>
        <div class="absolute top-0 right-0 hidden md:block">
          {% if section.settings.image2 != blank %}
          {% include 'responsive-image' with
              image: section.settings.image2,
              image_class: "img",
              max_width: 200,
              max_height: 200
          %}
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
      </div>
      </div>
    </div>
  
    <div class="relative hidden md:block">
      {% if section.settings.title != blank %}
        <h2 class="uppercase text-center md:text-[40px] sm:text-[35px] md:leading-10 leading-9">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div>{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>

  </section>

  {% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },{
        "type": "image_picker",
        "id": "image2",
        "label": "Image-2"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Hero image + text block</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
