<section class="grid items-center grid-cols-1 mx-auto md:grid-cols-2 md:max-w-3xl lg:max-w-4xl xl:max-w-6xld">
    
      <div class="grid">
        <div class="flex items-center justify-center">
            <div class="relative">
                {% if section.settings.image != blank %}
                {% include 'responsive-image' with
                    image: section.settings.image,
                    max_width: 703,
                    max_height: 713
                %}
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
      </div>
    </div>
  
    <div class="relative">
      {% if section.settings.title != blank %}
        <h2 class="uppercase text-center md:text-[40px] sm:text-[35px] md:leading-10 leading-9">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div>{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>

  </section>

  {% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Hero Image"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Hero image + text block</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
