<section class="pb-12 bg-red-500 clip grid items-center grid-cols-1 mx-auto md:grid-cols-2 md:max-w-3xl lg:max-w-4xl xl:max-w-6xld">
    
  <div class="relative visible md:hidden ">
    {% if section.settings.title != blank %}
      <h2 class=" font-bold uppercase text-center text-white sm:text-[35px] md:leading-10 leading-9">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <div>{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}
  </div>
      <div class="grid">
        <div class="flex items-center justify-center relative">
            <div class="relative md:hidden">
                {% if section.settings.image != blank %}
                {% include 'responsive-image-mobile' with
                    image: section.settings.image,
                    image_class: "img",
                    max_width: 703,
                    max_height: 713
                %}
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
            <div class="relative hidden md:block">
              {% if section.settings.image != blank %}
              {% include 'responsive-image' with
                  image: section.settings.image,
                  image_class: "img",
                  max_width: 703,
                  max_height: 713
              %}
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
          </div>
      </div>
    </div>
  
    <div class="relative hidden md:block">
      {% if section.settings.title != blank %}
        <h2 class="font-bold uppercase text-white text-center md:text-[35px] text-[26px] md:leading-10 leading-9">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div>{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
      <div class="flex flex-col md:hidden">
      <div class="relative mx-6 flex flex-row justify-center">
          <div class="flex items-end">
            <svg width="47" height="42" viewBox="0 0 47 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.46192 16.2376C2.43323 16.1771 2.41136 16.1136 2.3963 16.048C1.88999 13.8389 2.91947 12.3555 3.80624 11.6528C4.0074 9.996 5.5518 8.93609 6.8158 8.42445C6.94453 6.86377 7.53045 5.59645 8.5628 4.6504C10.2524 3.10242 12.6732 2.89355 13.8569 2.89355C13.8691 2.89355 13.8809 2.89355 13.8931 2.89355C15.0463 0.900283 17.6851 0.808179 19.2237 1.09718C20.1263 0.785335 21.0364 0.537309 21.9317 0.358542C22.4305 0.259187 22.9157 0.586987 23.0143 1.0921C23.1129 1.59686 22.788 2.08711 22.2885 2.18682C21.3996 2.3645 20.4924 2.61797 19.5934 2.94033C19.4267 3.00052 19.2467 3.01031 19.0746 2.96934C19.0437 2.96209 16.0026 2.26297 15.3357 4.16124C15.194 4.56337 14.7989 4.81648 14.3786 4.77659C14.3496 4.77369 11.4472 4.51587 9.79488 6.03666C9.21362 6.57187 8.85468 7.26228 8.70802 8.13146C9.95122 8.19165 11.8904 8.63331 12.8998 10.6545C13.1293 11.1139 12.9475 11.6742 12.4932 11.9066C12.3598 11.9744 12.2178 12.0067 12.0783 12.0067C11.7416 12.0067 11.4171 11.8196 11.255 11.495C10.4052 9.79439 8.29351 9.96518 7.91018 10.0116C7.56953 10.1247 5.54893 10.8532 5.63033 12.102C5.65436 12.4719 5.45929 12.8211 5.13334 12.9912C5.13012 12.9926 4.80309 13.1786 4.51945 13.5692C4.14688 14.0819 4.02461 14.7118 4.15442 15.4435L4.21645 15.5269C5.64683 15.6857 7.79795 16.5959 8.09163 19.2864C8.14721 19.7981 7.78253 20.2586 7.27657 20.3152C7.24215 20.3188 7.20808 20.3206 7.17438 20.3206C6.71074 20.3206 6.31163 19.9678 6.25964 19.491C6.07354 17.786 4.62559 17.4469 4.0013 17.3802C-0.0366631 20.3754 2.81369 27.3603 3.0023 27.8082C4.00202 29.7409 5.25669 30.7297 6.82943 30.82C7.50356 30.2503 9.26848 28.9837 12.353 28.2364C12.8482 28.1164 13.3455 28.425 13.4642 28.9254C13.5826 29.4261 13.2778 29.9291 12.7826 30.0487C10.147 30.6873 8.64241 31.7363 8.08732 32.1874C8.09449 32.443 8.12784 32.6958 8.18916 32.9413C8.84464 35.5745 12.3691 36.9557 16.046 36.0195C16.6545 35.8643 17.244 35.6507 17.798 35.3842C18.0705 35.2529 18.3893 35.2652 18.6514 35.4168C18.9132 35.568 19.0853 35.84 19.1119 36.1438C19.2173 37.3502 19.166 38.5124 18.9602 39.6111L21.3799 40.018C21.4832 39.6474 21.5868 39.2141 21.699 38.743C22.2398 36.4785 23.0207 33.2118 25.3171 30.5314C23.4055 30.0607 21.5663 29.7499 19.833 29.606C19.3256 29.5639 18.948 29.1139 18.9899 28.6012C19.0315 28.0881 19.4769 27.707 19.9836 27.7487C22.2745 27.9387 24.7308 28.4021 27.2853 29.1255C29.6272 29.4461 31.2674 29.3177 31.451 29.3014C35.4455 28.6944 36.5611 26.2536 36.3015 24.3452C36.2599 24.0395 36.3707 23.7328 36.5973 23.5261C36.8239 23.3194 37.1366 23.2396 37.4331 23.3129L38.1012 23.4782C39.2662 23.4198 42.1782 22.9637 43.4888 21.4204C44.0583 20.7496 44.2763 19.9395 44.1547 18.9438C44.1081 18.5594 44.301 18.1859 44.6395 18.0057C44.6435 18.0035 45.0358 17.7646 45.1322 17.3436C45.247 16.8421 44.9142 16.2416 44.6148 15.8264C44.4337 15.5751 44.3885 15.2488 44.4943 14.9569C44.5015 14.9373 45.181 12.9549 44.405 11.3094C43.9733 10.3938 43.1457 9.71861 41.9448 9.30305C41.597 9.18267 41.3539 8.87118 41.3252 8.5006C41.3241 8.48863 41.2068 7.30688 40.3556 6.66506C39.7675 6.22195 38.9191 6.10846 37.8344 6.32784C37.5884 6.37715 37.3335 6.32385 37.1276 6.17917C36.9218 6.03448 36.783 5.81148 36.7436 5.56091C36.7404 5.54061 36.3276 3.60137 32.7322 3.53247C32.1868 4.28561 30.9834 6.26438 31.8762 8.03718C32.1072 8.49588 31.9264 9.0572 31.4732 9.29072C31.3391 9.35962 31.1964 9.39226 31.0558 9.39226C30.7202 9.39226 30.3964 9.20624 30.2336 8.88315C29.9015 8.22356 29.7488 7.56216 29.7172 6.9236C29.2199 6.70966 28.4453 6.47977 27.8271 6.66579C27.4252 6.78617 27.1161 7.08134 26.8819 7.56724C26.7224 7.89866 26.3943 8.09121 26.0525 8.09121C25.9174 8.09121 25.7797 8.06075 25.6495 7.99657C25.1919 7.77139 25.0019 7.21333 25.2249 6.75064C25.685 5.79625 26.4032 5.14899 27.3025 4.87884C28.2603 4.59129 29.2349 4.77478 29.956 5.02062C30.1966 4.1888 30.5749 3.46611 30.9077 2.93416C30.4738 2.74307 29.8879 2.52043 29.1664 2.3286C28.6741 2.19807 28.3797 1.68823 28.5092 1.19073C28.6386 0.692507 29.1428 0.395529 29.6348 0.526069C31.0913 0.912974 32.0892 1.41628 32.5317 1.66612C36.2642 1.66684 37.7071 3.31563 38.2504 4.38316C39.5366 4.26023 40.6198 4.52965 41.479 5.18706C42.4805 5.95326 42.8907 7.05596 43.0557 7.73694C44.4717 8.3367 45.484 9.26679 46.0688 10.5069C46.9176 12.3073 46.5906 14.2443 46.3665 15.1215C46.9301 16.0414 47.1191 16.9288 46.9276 17.7642C46.7656 18.4727 46.365 18.9655 46.0276 19.2709C46.0703 20.5617 45.688 21.6913 44.8873 22.6344C42.9022 24.9714 38.9456 25.2982 38.1643 25.3402C37.9631 27.9391 36.0067 30.5034 31.6966 31.1485C31.683 31.1507 31.669 31.1525 31.655 31.154C31.6166 31.1579 31.1394 31.2051 30.3329 31.2051C29.6007 31.2051 28.5959 31.1659 27.4022 31.0194C24.8599 33.4496 24.0714 36.7476 23.4908 39.1803C23.2793 40.0658 23.0968 40.8309 22.8587 41.4205C22.7156 41.7752 22.3753 42 22.006 42C21.9558 42 21.9052 41.996 21.8543 41.9873L17.6844 41.2857C17.4247 41.2418 17.196 41.088 17.0558 40.8629C16.9156 40.6377 16.8772 40.3624 16.9507 40.1068C17.178 39.3138 17.3014 38.4693 17.3197 37.5838C17.0493 37.6751 16.7743 37.756 16.4964 37.8267C14.2857 38.3895 12.0349 38.2673 10.1581 37.4822C8.18665 36.6577 6.85273 35.2065 6.402 33.3963C6.33996 33.1461 6.29657 32.8916 6.27076 32.6345C4.69767 32.4133 2.804 31.4665 1.35212 28.6385C1.34351 28.6218 1.33562 28.6052 1.32809 28.5881C1.28829 28.4978 0.349167 26.3418 0.0744934 23.7125C-0.264721 20.4631 0.558575 17.9013 2.46192 16.2376Z" fill="white"/>
              <path d="M25.5638 13.4992C25.5541 13.5532 25.3146 14.8376 24.4335 16.098C24.2234 16.3986 23.966 16.7126 23.6547 17.0136C23.8204 17.9709 25.2683 18.4949 25.3024 18.5068C25.7829 18.6726 26.0403 19.2002 25.8783 19.6868C25.7485 20.0759 25.3899 20.3214 25.0051 20.3214C24.9072 20.3214 24.8079 20.3054 24.7104 20.272C23.8584 19.9816 22.6206 19.2582 22.073 18.0956C21.3566 18.4227 20.4927 18.6345 19.4554 18.6345C19.3894 18.6345 19.3223 18.6334 19.2549 18.6319C18.7461 18.6185 18.3441 18.191 18.3574 17.6765C18.3699 17.1699 18.7798 16.7681 19.2782 16.7681C19.2861 16.7681 19.294 16.7685 19.3019 16.7685C22.9996 16.8624 23.7203 13.3237 23.7515 13.1612C23.8444 12.6568 24.3235 12.3225 24.823 12.4153C25.3235 12.5074 25.6552 12.993 25.5638 13.4992Z" fill="white"/>
              <path d="M14.3284 21.6819C12.7284 18.8546 13.3602 16.6684 14.1717 15.3322C15.0291 13.9213 16.2644 13.1779 16.3164 13.1471C16.7542 12.8875 17.3147 13.0354 17.5736 13.4763C17.8324 13.9176 17.6879 14.4884 17.253 14.7524C17.2437 14.7578 16.3189 15.3264 15.7107 16.3605C14.943 17.666 15.0165 19.1447 15.9284 20.7561C16.1812 21.2029 16.0277 21.7722 15.5859 22.0278C15.4418 22.1116 15.2844 22.1511 15.1295 22.1511C14.8092 22.1511 14.4987 21.9828 14.3284 21.6819Z" fill="white"/>
              <path d="M4.56103 23.8601C4.14687 23.5609 4.05077 22.9789 4.3466 22.5601C4.64243 22.1413 5.21795 22.0441 5.63211 22.3433C6.53071 22.9923 7.34828 23.2364 8.06221 23.0681C9.13795 22.8154 9.74898 21.6985 9.76332 21.6724C9.99998 21.2195 10.554 21.0447 11.004 21.2819C11.4555 21.5201 11.6305 22.0829 11.3949 22.5391C11.3586 22.609 10.5601 24.1244 8.96548 24.7336C9.25091 25.8736 9.43271 27.8854 7.76674 29.2942C7.59426 29.4399 7.38485 29.5114 7.17616 29.5114C6.9126 29.5114 6.6512 29.3975 6.46868 29.1774C6.14237 28.7825 6.194 28.1947 6.5845 27.8644C7.60144 27.0043 7.31565 25.593 7.1152 24.9541C6.28293 24.8511 5.42807 24.4863 4.56103 23.8601Z" fill="white"/>
              <path d="M31.6919 17.8752C31.7557 17.3646 32.2169 17.0038 32.7221 17.068C33.227 17.1325 33.5845 17.5992 33.5203 18.1098C33.3604 19.3851 34.3497 20.3134 34.9356 20.7438C36.4105 20.0055 38.0621 20.2869 38.1442 20.3014C38.6437 20.3906 38.9761 20.8714 38.8901 21.3769C38.804 21.8824 38.3278 22.2222 37.8276 22.1377C37.8118 22.1348 36.2563 21.8827 35.3254 22.6986C34.794 23.1646 34.5369 23.9438 34.5616 25.0146C34.5735 25.5292 34.1704 25.956 33.6616 25.9679C33.6544 25.9683 33.6472 25.9683 33.6397 25.9683C33.1409 25.9683 32.7307 25.5654 32.7189 25.0581C32.6898 23.805 32.9538 22.7737 33.5042 21.9788C32.6009 21.2206 31.4452 19.8427 31.6919 17.8752Z" fill="white"/>
              <path d="M40.3581 12.9897C40.4581 13.2319 40.6102 13.4488 40.802 13.646C41.3019 14.1613 41.9294 14.3528 41.953 14.36C42.4407 14.4967 42.7287 15.0058 42.5967 15.5008C42.4859 15.9164 42.1137 16.1901 41.7078 16.1901C41.6282 16.1901 41.5475 16.1796 41.4668 16.1575C41.4087 16.1415 40.2512 15.8148 39.3573 14.8097C38.742 15.2716 38.0191 15.5128 37.2269 15.5128C37.0064 15.5128 36.7809 15.4943 36.5507 15.4566C35.5065 15.2865 34.7244 14.7886 34.6387 14.7324C34.2116 14.4525 34.0897 13.8756 34.3665 13.4437C34.6434 13.0118 35.2139 12.8886 35.6413 13.1685C35.6463 13.1718 36.1828 13.5086 36.8436 13.6167C37.5077 13.7251 38.032 13.5721 38.4641 13.1384C38.2554 12.3352 38.2805 11.4403 38.5426 10.4645C38.6756 9.96772 39.1816 9.67437 39.6732 9.80926C40.1644 9.94415 40.4545 10.4558 40.3211 10.9526C40.1096 11.7416 40.1153 12.4016 40.3409 12.9491C40.3466 12.9625 40.3523 12.9759 40.3581 12.9897Z" fill="white"/>
              <path d="M18.7916 5.06233C20.3482 4.1286 22.1372 4.61088 22.2125 4.63191C22.703 4.76861 22.9913 5.28171 22.8562 5.77776C22.7213 6.27381 22.2132 6.56499 21.723 6.42901C21.7123 6.42575 20.6079 6.13965 19.7322 6.66507C19.2112 6.97764 18.8515 7.54803 18.6625 8.35991C18.5625 8.78925 18.1842 9.07861 17.7661 9.07861C17.6962 9.07861 17.6255 9.07027 17.5545 9.05359C17.059 8.93574 16.7517 8.43389 16.8686 7.93312C17.1766 6.60923 17.8235 5.64323 18.7916 5.06233Z" fill="white"/>
              <path d="M22.13 22.633C22.7866 23.7738 23.7354 24.3848 24.9495 24.4489C25.9249 24.5001 26.7288 24.1821 26.7485 24.1737C27.2183 23.9794 27.7547 24.2056 27.9487 24.6799C28.1434 25.1557 27.92 25.7007 27.4499 25.8972C27.3416 25.9425 26.4065 26.3186 25.1686 26.3186C25.0926 26.3186 25.0152 26.3171 24.9366 26.3138C23.621 26.2634 21.7894 25.7464 20.5368 23.5703C20.2808 23.1258 20.43 22.555 20.87 22.2961C21.3096 22.0372 21.874 22.1881 22.13 22.633Z" fill="white"/>
              <path d="M15.4572 28.0986C15.6749 27.7704 16.0822 27.6131 16.4623 27.7168C16.8299 27.8165 17.102 28.1425 17.1407 28.525C17.1798 28.9116 16.9643 29.2934 16.6176 29.4584C16.2794 29.619 15.8671 29.5563 15.5942 29.2967C15.2679 28.9866 15.2091 28.4735 15.4572 28.0986Z" fill="white"/>
              <path d="M26.604 1.2861C26.4577 1.64436 26.0916 1.87934 25.709 1.86084C25.3343 1.84235 25.0015 1.58816 24.8811 1.22917C24.7588 0.866199 24.8753 0.453548 25.1683 0.209873C25.4777 -0.0475815 25.931 -0.0707886 26.2641 0.154756C26.6245 0.398793 26.7701 0.879616 26.604 1.2861Z" fill="white"/>
              </svg>
          </div>
          <div>
            <p class="">Eggs might be a brilliant brain food, but Noocube will feed your brain all year long.</p>
          </div>
      </div>
      <div class="relative mx-6 flex flex-row justify-center">
        <div class="flex items-end">
          <svg width="34" height="39" viewBox="0 0 34 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.093 32.0398C26.093 31.3132 25.7253 30.6743 25.1728 30.3109C25.4089 29.6702 25.3236 28.93 24.9059 28.355C25.1546 28.0125 25.3023 27.5872 25.3023 27.1267C25.3023 26.1211 24.5984 25.283 23.674 25.112C23.9483 23.8253 22.9963 22.623 21.7442 22.623H16.2093C15.1193 22.623 14.2326 23.5414 14.2326 24.6701C14.2326 25.6758 14.9365 26.5138 15.8608 26.6848C15.7371 27.265 15.8601 27.8727 16.2103 28.355C15.5174 29.3088 15.7582 30.6703 16.7341 31.3121C16.5989 31.6789 16.5705 32.0736 16.6443 32.4492C16.3066 32.4587 16.0805 32.4196 15.7303 32.5103C15.8982 31.832 15.7267 31.0812 15.215 30.551L11.3013 26.4981C10.5289 25.698 9.27828 25.6978 8.50577 26.4981C7.73318 27.2981 7.73302 28.593 8.50569 29.3931L12.4195 33.4462C12.9275 33.9724 13.6411 34.1527 14.2946 33.9859C13.9722 35.2828 14.9235 36.5434 16.2091 36.5434H21.744C22.9854 36.5434 23.9317 35.3616 23.681 34.0868H24.1163C25.2063 34.0869 26.093 33.1686 26.093 32.0398ZM17.7907 29.9927C17.5727 29.9927 17.3954 29.809 17.3954 29.5832C17.3954 29.3575 17.5727 29.1738 17.7907 29.1738H23.3256C23.5436 29.1738 23.7209 29.3575 23.7209 29.5832C23.7209 29.809 23.5436 29.9927 23.3256 29.9927H17.7907ZM23.3256 27.5361H17.7907C17.5727 27.5361 17.3954 27.3524 17.3954 27.1267C17.3954 26.9009 17.5727 26.7173 17.7907 26.7173H23.3256C23.5436 26.7173 23.7209 26.9009 23.7209 27.1267C23.7209 27.3524 23.5436 27.5361 23.3256 27.5361ZM16.2093 24.2607H21.7442C21.9622 24.2607 22.1395 24.4444 22.1395 24.6701C22.1395 24.8959 21.9622 25.0796 21.7442 25.0796C20.7728 25.0796 17.6698 25.0796 16.2093 25.0796C15.9913 25.0796 15.814 24.8959 15.814 24.6701C15.814 24.4444 15.9913 24.2607 16.2093 24.2607ZM18.186 32.0398C18.186 31.814 18.3634 31.6304 18.5814 31.6304H24.1163C24.3343 31.6304 24.5116 31.814 24.5116 32.0398C24.5116 32.2655 24.3343 32.4492 24.1163 32.4492C22.9899 32.4492 19.7101 32.4492 18.5814 32.4492C18.3634 32.4492 18.186 32.2655 18.186 32.0398ZM13.8174 32.4081C13.7562 32.4081 13.6385 32.3926 13.5378 32.2882L9.62398 28.2351C9.52324 28.1308 9.50822 28.0089 9.50822 27.9456C9.50822 27.5813 9.93543 27.3995 10.1832 27.6562L14.0969 31.709C14.3467 31.9679 14.1666 32.4081 13.8174 32.4081ZM22.1395 34.4963C22.1395 34.7221 21.9622 34.9058 21.7442 34.9058H16.2093C15.9913 34.9058 15.814 34.7221 15.814 34.4963C15.814 34.2706 15.9913 34.0869 16.2093 34.0869H21.7442C21.9622 34.0869 22.1395 34.2706 22.1395 34.4963Z" fill="white"/>
            <path d="M11.3014 24.48L15.2152 20.4268C15.9859 19.6286 15.9859 18.33 15.2152 17.5318C14.4426 16.7318 13.1923 16.7317 12.4196 17.5319L8.50593 21.585C7.73334 22.385 7.73318 23.6799 8.50585 24.48C9.27829 25.2801 10.5288 25.2801 11.3014 24.48ZM9.62406 22.743L13.5378 18.6898C13.692 18.5301 13.9424 18.5297 14.097 18.6898C14.2511 18.8494 14.2511 19.1092 14.097 19.2688L10.1832 23.3219C9.93678 23.5771 9.50822 23.399 9.50822 23.0324C9.50814 22.9691 9.52324 22.8474 9.62406 22.743Z" fill="white"/>
            <path d="M18.1244 4.84751C17.7231 4.68021 17.3791 4.60603 17.3111 4.58597V3.66189C17.7667 3.72945 18.2993 4.02571 18.3607 4.11038L18.8331 3.18639C18.6494 3.07773 18.4328 2.97136 18.1836 2.86712C17.9342 2.76304 17.6675 2.69729 17.3833 2.6701V1.98391H16.9305V2.6701C16.3172 2.73651 15.8045 3.01148 15.5529 3.59745C15.4037 3.94497 15.4023 4.41016 15.5102 4.70142C15.6209 5.0012 15.8513 5.19634 16.1302 5.33669C16.4818 5.5138 16.8593 5.60511 17.0028 5.6526V6.55612C16.8453 6.53352 16.692 6.49618 16.5434 6.44402C16.3247 6.36754 16.0451 6.25011 15.8513 6.11795C15.7747 6.06595 15.7277 6.02853 15.7103 6.00593L15.2379 6.97742C15.7331 7.31929 16.3586 7.51016 16.9304 7.56167V8.35652H17.3832V7.56846C17.9923 7.54201 18.5678 7.32231 18.8396 6.76001C19.01 6.40684 19.0103 5.86091 18.869 5.53026C18.7549 5.26324 18.5416 5.02135 18.1244 4.84751ZM17.0028 4.49082C16.8495 4.44103 16.7348 4.3833 16.6583 4.31755C16.5816 4.25196 16.5435 4.16237 16.5435 4.04921C16.5435 3.81379 16.6966 3.68237 17.0028 3.6551L17.0028 4.49082ZM17.3111 6.56971V5.75446C17.4641 5.80884 17.5865 5.86886 17.6784 5.93453C17.7703 6.0002 17.8162 6.09191 17.8162 6.20966C17.8162 6.43616 17.6478 6.55612 17.3111 6.56971Z" fill="white"/>
            <path d="M31.6279 37.3623H27.8878C28.2522 36.7899 28.4651 36.1053 28.4651 35.3699V18.0648C28.4651 16.1828 27.0751 14.6311 25.3023 14.4521V13.6157C25.7389 13.6157 26.093 13.2491 26.093 12.7969V9.5215C26.093 9.06925 25.7389 8.70265 25.3023 8.70265H20.7449C21.5823 7.77751 22.0968 6.53524 22.0968 5.17013C22.0968 2.31939 19.8572 0 17.1044 0C14.3516 0 12.112 2.31931 12.112 5.17013C12.112 6.53524 12.6263 7.77751 13.4638 8.70265H8.69767C8.26097 8.70265 7.90698 9.06925 7.90698 9.5215V12.7969C7.90698 13.2491 8.26097 13.6157 8.69767 13.6157V14.4521C6.92501 14.6311 5.53488 16.1828 5.53488 18.0648V35.3699C5.53488 36.1053 5.74774 36.7899 6.11217 37.3623H1.5814C1.14469 37.3623 0.790698 37.729 0.790698 38.1812C0.790698 38.6333 1.14469 39 1.5814 39H31.6279C32.0645 39 32.4186 38.6333 32.4186 38.1812C32.4186 37.729 32.0645 37.3623 31.6279 37.3623ZM13.6935 5.17013C13.6935 3.22234 15.2236 1.6377 17.1045 1.6377C18.9853 1.6377 20.5154 3.22234 20.5154 5.17013C20.5154 7.11793 18.9853 8.70265 17.1045 8.70265C15.2236 8.70265 13.6935 7.11793 13.6935 5.17013ZM9.48837 10.3403H24.5116V11.978H9.48837V10.3403ZM23.7209 13.6157V14.4346H10.2791V13.6157H23.7209ZM9.04028 37.3623C7.9794 37.3623 7.11628 36.4685 7.11628 35.3699V18.0648C7.11628 16.9662 7.9794 16.0723 9.04028 16.0723H24.9596C26.0206 16.0723 26.8837 16.9662 26.8837 18.0648V35.3699C26.8837 36.4685 26.0206 37.3623 24.9596 37.3623H9.04028Z" fill="white"/>
            <path d="M4.74419 13.6157C4.74419 12.2612 3.68006 11.1592 2.37209 11.1592C1.06412 11.1592 0 12.2612 0 13.6157C0 14.9703 1.06412 16.0723 2.37209 16.0723C3.68006 16.0723 4.74419 14.9703 4.74419 13.6157ZM1.5814 13.6157C1.5814 13.1642 1.9361 12.7969 2.37209 12.7969C2.80808 12.7969 3.16279 13.1642 3.16279 13.6157C3.16279 14.0673 2.80808 14.4346 2.37209 14.4346C1.9361 14.4346 1.5814 14.0672 1.5814 13.6157Z" fill="white"/>
            <path d="M31.2326 4.6084C29.7066 4.6084 28.4651 5.89408 28.4651 7.47438C28.4651 9.05467 29.7066 10.3403 31.2326 10.3403C32.7585 10.3403 34 9.05467 34 7.47438C34 5.89408 32.7585 4.6084 31.2326 4.6084ZM31.2326 8.70265C30.5786 8.70265 30.0465 8.15165 30.0465 7.47438C30.0465 6.79711 30.5786 6.2461 31.2326 6.2461C31.8865 6.2461 32.4186 6.79711 32.4186 7.47438C32.4186 8.15156 31.8865 8.70265 31.2326 8.70265Z" fill="white"/>
            </svg>
        </div>
        <div>
          <p class="">Eggs might be a brilliant brain food, but Noocube will feed your brain all year long.</p>
        </div>
    </div>
    </div>
    </div>

  </section>

  {% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Hero image + text block</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
